*.pyc
bin/tests/*.png
*.kate-swp
tests
var/shifthistory.csv
var/tle/*
bin/sources/
basedir_conf.py
autowx2_conf.py
recordings
bin/pymultimonaprs.confs/
bin/heatmap.py
var/www/nextpass.png
var/www/nextpass.html
autowx2_conf.py
git-merge-devel.sh
git-wyslij-github.sh
