*.pyc
bin/tests/*.png
*.kate-swp
tests
var/shifthistory.csv
var/tle/*
bin/sources/
basedir_conf.py
autowx2_conf.py
recordings
bin/pymultimonaprs.confs/
bin/heatmap.py
var/www/nextpass.png
autowx2_conf.py
git-merge-devel.sh
git-wyslij-github.sh
var/dongleshift.txt
var/gsm_channel.txt
var/www/*.html
var/www/*.tmp
modules/noaa/noaa.conf
modules/meteor-m2/meteor.conf
