<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="autowx2 atomated satellite receiving station">
    <meta name="author" content="filipsPL@github">

    <title>autowx2 atomated satellite receiving station :: {{title}}}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='logo-nav.css') }}" rel="stylesheet">
    <link  href="{{ url_for('static',filename='fancybox/jquery.fancybox.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static',filename='socket.io.slim.js') }}"></script>

    <script type="text/javascript">
    console.log( "Start!" )
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    // log window //
     socket.on( 'my response', function( msg ) {
       console.log( msg )
        $('#logWindow').append( msg.tekst );
        var psconsole = $('#logWindow');
        if(psconsole.length) psconsole.scrollTop(psconsole[0].scrollHeight - psconsole.height());
           })
     // Pass Table in Html //
     socket.on( 'response next pass table', function( msg ) {
       console.log( msg )
        $('#nextPassWindow').append( msg.tekst );
           })
    </script>


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">
          autowx2 | automatic receiving station
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
          <li>
            <a class="nav-link" href="/table">Pass table</a>
          </li>
          <li>
            <a class="nav-link" href="/lastlog">Recent logs</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="https://github.com/filipsPL/autowx2">Source code</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
<h1>{{title}}</h1>

{% autoescape false %}
{{ body }}
{% endautoescape %}

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='fancybox/jquery.fancybox.min.js') }}"></script>

  </body>

</html>
